In [43]:
import numpy as np
import pandas as pd
import patsy as pt
import sklearn as sk

### Exercise 1 Importing Data

In [44]:
url = "https://media.githubusercontent.com/media/nickeubank/MIDS_Data/master/smoking.csv"
df = pd.read_csv(url)
smoking = df.rename({"bwt.oz":"bwt"}, axis='columns')
smoking.head(10)
smoking['mrace']= smoking['mrace'].replace([0,1,2,3,4,5, 6, 7, 8,9,99],
 ['White', 'White','White','White','White', 'White','Hispanic','Black', 'Other', 'Other', 'Other'])
smoking.head(10)

,id,date,gestation,bwt,parity,mrace,mage,med,mht,mpregwt,inc,smoke
0,4604,1598,148,116,7,Black,28,1,66,135,2,0
1,7435,1527,181,110,7,Black,27,1,64,133,1,0
2,7722,1563,204,55,11,Black,35,3,65,140,6,0
3,2026,1503,225,132,4,Black,28,2,67,148,3,0
4,3553,1638,233,105,4,Black,34,3,61,130,3,0
5,3491,1705,234,85,7,Black,33,1,67,130,2,0
6,6757,1444,234,97,0,Hispanic,26,5,65,112,6,0
7,6153,1405,235,129,3,Black,24,4,66,135,1,0
8,8187,1669,236,63,0,White,24,5,58,99,7,0
9,8403,1669,241,128,0,Black,17,1,64,126,2,0

### Exercise 2

In [45]:
y,X = pt.dmatrices("bwt ~ mrace + smoke + mage + mpregwt + mht", data=smoking, return_type='dataframe')

### Exercise 3

In [46]:
ex3_num_columns = 7

### Exercise 4 Splitting DataÂ¶

In [47]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2,train_size=0.8,random_state=42)

### Exercise 5 Training your Model

In [48]:
from sklearn.linear_model import LinearRegression
my_model = LinearRegression(fit_intercept=False)

### Exercise 6

In [49]:
my_model.fit(X_train, y_train)
ex6_model_smoking = my_model.coef_
ex6_model_smoking

array([[ 3.41751734e+01,  1.35510330e+01,  3.61836336e+00,
         9.33373203e+00, -9.19056294e+00, -1.73718147e-04,
         1.22252130e-01,  1.02349443e+00]])

### Exercise 7

In [50]:
predic = my_model.predict(X_test)
predic[0][0]
ex7_first_prediction = predic[0][0]
ex7_first_prediction

118.77419618919188

### Exercise 8

In [51]:
my_model.score(X_test, y_test)
ex8_score = my_model.score(X_test, y_test)
ex8_score

0.07427937766715709

### Exercise 9

In [52]:
from sklearn.svm import SVR
my_model2 = SVR()
my_model2.fit(X_train, y_train.values.ravel())  
my_model2.score(X_test, y_test)
ex9_SVR_score = round(my_model2.score(X_test, y_test),2)
ex9_SVR_score

0.02

### Exercise 10

In [57]:
from sklearn.svm import SVR 
my_model = SVR(kernel='linear', C=1e3)
my_model.fit(X_train, y_train.values.ravel())
my_model.score(X_test, y_test)
ex10_SVR_linear_score = round(my_model.score(X_test, y_test),2)
ex10_SVR_linear_score

0.07

### Exercise 11

In [54]:
from sklearn.svm import SVR
my_model2 = SVR(kernel='rbf', C=1e3, gamma=0.1)
my_model2.fit(X_train, y_train.values.ravel())
my_model2.score(X_test, y_test)
ex11_SVR_rbf_score = round(my_model2.score(X_test, y_test),2)
ex11_SVR_rbf_score

-1.02

In [55]:
results = {"ex3_num_columns": ex3_num_columns,
    "ex6_model_smoking": ex6_model_smoking,
    "ex7_first_prediction": ex7_first_prediction,
    "ex8_score": ex8_score,
    "ex9_SVR_score": ex9_SVR_score,
    "ex10_SVR_linear_score": ex10_SVR_linear_score,}

In [56]:
assert set(results.keys()) == {
    "ex3_num_columns",
    "ex6_model_smoking",
    "ex7_first_prediction",
    "ex8_score",
    "ex9_SVR_score",
    "ex10_SVR_linear_score",
}